{% load bootstrap4 %}

<!doctype html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <title>Learning Log</title>
  </head>
  <body>
    <!-- Статистическая навигационная панель -->

  <nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light">
    <div class="container">
      <a class="navbar-brand" href="{% url 'learning_logs:index' %}">
        Learning Log</a>

      <!-- Кнопка навигации будет отображаться на маленьких экраах. -->
      <button class="navbar-toggler" type="button" 
        data-toggle="collapse" data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <!-- Ссылки -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'learning_logs:topics' %}">Topics 
              <span class="sr-only">(current)</span></a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <span class="navbar-text"> 
              <a> Hello, {{ user.username }}. </a>
            </span>
            <li class="nav-item active"></li>                           
              <a class="nav-link" href="{% url 'users:logout' %}">log out
                <span class="sr-only">(current)</span></a>

          {% else %}
            <li class="nav-item active"></li>
              <a class="nav-link" href="{% url 'users:register' %}">register 
                <span class="sr-only">(current)</span></a>
              <a class="nav-link" href="{% url 'users:login' %}">log in
                <span class="sr-only">(current)</span></a>

          {% endif %}
        </ul>
      </div> <!-- /.nav-collapse -->
    </div>
  </nav>

  <div class="container">
    <div class="pb-3 mt-3 mb-2 border-bottom">
      {% block header %}{% endblock header %}    
    </div>
    <div>
      {% block content %}{% endblock content %}
    </div>
  </div> <!-- /container -->
  
  </body>

</html>