{% extends 'learning_logs/base.html' %}

{% block header %}
  <h3 class="pt-5"> {{ topic }} </h3>
{% endblock header %}

{% block content %}
<p>
  <h6><a href="{% url 'learning_logs:new_entry' topic.id %}">Add new entry</a></h6>
</p>

{% for entry in entries %}
  <div class="card">
    <div class="card-header">
      <h5>
        {{ entry.date_added|date:'M d, Y H:i' }}      
        <small>
          <a href="{% url 'learning_logs:edit_entry' entry.id %}">
              edit entry</a>              
          <a class="text-danger" href="{% url 'learning_logs:delete_entry' entry.id %}">
            delete entry</a>              
        </small>
      </h5>
    </div>
    <div class="card-body">
      <h6><p class="card-text">{{ entry.text|linebreaks }}</p></h6>
    </div>
  </div> <!-- card -->
  <p></p>

{% empty %}
  <h5>There are no entries for this topic yet.</h5>

{% endfor %}

{% endblock content %}